.display {
    display: flex;
    flex-direction: column;
    text-align:center;
    margin: auto;
    padding-top: 50px;
    
    width: 33%;
    background-color: #48D1CC;
}

p {
    text-align: center;
}

.text {
    font-size: 30px;
}

img {
    width: 300px;
}